/* Desktop */
body {
    margin: 0;
    background-color: #180134;
}
header {
    width: 75%;
    margin-bottom: 1%;
    margin-left: 15%;
    padding-bottom: 1%;
    border-bottom: 1px dashed #0039DE;
}
section {
    width:35%;
    position: relative;
    left:15%;
    float:left;
    margin-bottom: 1.5%;
    padding-right: 2.5%    
}
section#about {
    width:75%;
    left:0;
    margin-left:15%;
    margin-bottom: 1.5%;
    padding right:0;
    border-top: 1px dashed #0039DE;
}
a{
    color: #0039DE;
}
footer {
    clear: left;
    width: 75%;
    margin-bottom: 2%;
    margin-left: 15%;
    padding-top: 1%;
    border-top: 1px dashed   #0039DE;  
}
h2 {
    text-align: center;
    color: #FB4630;
    font-size: 2em;
    font-family: 'Playfair Display', serif; 
}
h3{
    text-align: center;
    margin-top: -20px;
}
h3,h4, h5 {
    color: #FB4630;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}
p {
    color: #FFA4C6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

}
img {
    width: 100%;
}
img#githublogo {
    width: 12%;
    margin-left: 44%;
}
section#about img {
    width:50%;
    margin-left: 25%;
}
ol {
    color: #FFA4C6;
    margin-top: -20px;
}
/* Mobile */
@media (max-width:500px) {
    body {
        width 80%;
    }
    img {
        width: 100%;
    }
    section#excrcises,#projects{
        width:80%;
        clear: both;
        margin-top: -15px;
    }
    section#projects{
        margin-top: -45px;
    }
    section#about img {
        width: 75%;
        margin-left: 12.5%;
        padding-bottom: 2%;
    }
}