body{
    width: 100%;
    margin: 0;
    background-color: dimgray;
}
h2{
    text-align: center;
    color: #f6fb65;
    font-size: 1.5em;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 5%
}
p{
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
}
img{
    width: 100%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav a {
    float: left;
    display: block;
    color: 	#f6fb65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    font-family:  'Raleway', sans-serif;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    color: whitesmoke;
}
#gofundme, #redcross {
    width: 100%;
    padding: 3% 2%;
    background-color: darkgray;
    text-align: center; 
    font-size: 1em;
    font-family:  'Raleway', sans-serif; 
}
a:hover {
    background-color: #ddd;
    color: black;
}
a{
    display: block;
    color: #f6fb65;
    text-decoration: none;
    font-size: 1em;
}
#fack {
    padding-bottom: 4%
}