body {
    margin:0;
    width: 100%;
    background-color:black;
    font-size:100%;
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Roboto Mono' monospace;
    letter-spacing: -.01em;
    font-size: 3em;
}
h5 {
    color: lightgrey;
    text-align: center;
    font-family: 'Fira Sans', sans-serif; 
    font-size: .8em;
    margin-top: -2.5%;
    margin-bottom: 3%;
}
p {
    color: whitesmoke;
    width: 80%;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    text-indent: 1em;
    font-size: 1em;
}
p#para {
    padding-bottom: 2%;
}
img {
    width: 100%;
}