body {
    width: 100%;
    background-color:black;
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-family: monospace;
}
h4 {
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif
}
p {
    color: whitesmoke;
    width: 80%;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
img {
    width: 100%;
}